<div class="row">
  <div class="col-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12">
    <a href="#" class="card" *ngFor="let recipe of recipes">
      <div class="card-body">
        <div class="row g-0">
          <div class="col-md-8">
            <h4 class="card-title">{{recipe.name}}</h4>
            <p class="card-text">{{recipe.description}}</p>
          </div>
          <div class="col-md-4">
            <div class="float-end">
              <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-responsive" style="max-width: 55px;">
            </div>
          </div>
        </div>
      </div>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
